@font-face {
    font-family: Raleway Heavy;
    src: url("./Fonts/Raleway-Heavy.ttf");
}

@font-face {
    font-family: Raleway;
    src: url("./Fonts/Raleway-Light.ttf");
}

body{
    background-color: #0f1a26;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

p{
    color: #e9dcc9;
    padding: 0px;
    margin: 0px;
    font-family: "Raleway";
}

h1{
    color: #e9dcc9;
    font-family: "Raleway Heavy";
    margin: 0px;
}

a{
    color: #e9dcc9;
}

.algorithm_container{
    width: 80vw;
    height: 60vh;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.controls_container{
    margin-top: 20px;
    width: 60vw;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.text_container{
    text-align: center;
    width: 60vw;
    margin-top: 20px;
}

.button{
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    border-width: 3px;
    border-style: solid;
    border-color: #e5ab09;
    font-size: large;
    transition: background-color 100ms ease-in-out;
}

.button:hover{
    background-color: #02364c;
    transition: background-color 100ms ease-in-out;
}

.input{
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    border-width: 3px;
    border-style: solid;
    border-color: #e5ab09;
    font-size: large;
    transition: background-color 100ms ease-in-out;
    margin: 0px;
    padding: 0px;
}

input{
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    font-size: large;
    transition: background-color 100ms ease-in-out;
    margin: 0px;
    padding: 0px;
}

.welcome-box{
    display: flex;
    flex-direction: column;
    height:20vh;
    width: 95%;
    margin-top: 50px;
    font-size: 20px;
    border-bottom-width: 10px;
    border-style: solid;
    border-color: #e5ab09;
    border-radius: 10px;
    align-items: center;
}

.main-text-box{
    width: 80%;
    height: 80vh;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: left;
    text-align: justify;
    font-size: 20px;

}

.main-text{
    margin-top: 50px;
    width: 100%; 
    border-bottom-width: 10px; 
    border-style: solid; 
    border-color: #e5ab09;
    padding: 10px;
}

.picture-container{
    display: grid; 
    grid-template-columns: auto auto;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.introduction-box{
    margin-left: 100px; 
    margin-top: 50px; 
    width: 80%; 
    height: 88vh;
    border-bottom-width: 10px; 
    border-style: solid; 
    border-color: #e5ab09;
    padding: 10px;
}

.pic-name{
    margin-left: 10px; 
    text-decoration: underline;
}