body{
    background-color: #0f1a26;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

p{
    color: #e9dcc9;
    padding: 0px;
    margin: 0px;
}

h1{
    color: #e9dcc9;
}